/*Fun Menu Elements*/
ul.sdt_menu{
    margin:0 0 85px 0 ;
    padding:0;
    list-style: none;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:14px;
    width:840px;    
}
ul.sdt_menu li{
    float:left;
    width:140px;
    height:85px;
    position:relative;
    cursor:pointer;
    background-color: #580400;
}

ul.sdt_menu a{
    text-decoration:none;
    outline:none;
}

ul.sdt_menu li > a{
    position:absolute;
    top:0px;
    left:0px;
    width:140px;
    height:85px;
    z-index:12;
    background:transparent url(../images/overlay.png) no-repeat bottom right;
    -moz-box-shadow:0px 0px 2px #000 inset;
    -webkit-box-shadow:0px 0px 2px #000 inset;
    box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
    border:none;
    position:absolute;
    width:0px;
    height:0px;
    bottom:0px;
    left:85px;
    z-index:100;
    -moz-box-shadow:0px 0px 4px #000;
    -webkit-box-shadow:0px 0px 4px #000;
    box-shadow:0px 0px 4px #000;    
}
ul.sdt_menu li span.sdt_wrap{
    position:absolute;
    top:25px;
    left:0px;
    width:170px;
    height:60px;
    z-index:14;
}
ul.sdt_menu li span.sdt_active{
    position:absolute;
    background-color: #580400;
    top:85px;
    width:170px;
    height:0px;
    left:0px;
    z-index:14;
    -moz-box-shadow:0px 0px 4px #000 inset;
    -webkit-box-shadow:0px 0px 4px #000 inset;
    box-shadow:0px 0px 4px #000 inset;
    opacity: 0.9;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
    margin-left:15px;
    text-transform:uppercase;
    text-shadow:0px 0px 1px #005559;
}
ul.sdt_menu li span span.sdt_link{
    color: #BC6832;
    font-size:24px;
    float:left;
    clear:both;
}
ul.sdt_menu li span span.sdt_descr{
    color: wheat;
    float:left;
    clear:both;
    width:155px; /*For dumbass IE7*/
    font-size:10px;
    letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
    display:block;
    position:absolute;
    width:170px;
    overflow:hidden;
    height:170px;
    top:85px;
    left:0px;
    display:none;
    background:#580400;
    z-index: 17;
    opacity: 0.9;
}
ul.sdt_menu li div.sdt_box a{
    float:left;
    clear:both;
    line-height:30px;
    color: wheat;
}
ul.sdt_menu li div.sdt_box a:first-child{
    margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
    color:#fff;
}


/*Common Elements*/

body{
    color: #300000;
    text-align: justify;    
    margin: 0px;
    font-size: 12pt;   
    font-family: Lucene, Helvetica, sans-serif;
    /*background-image: url(/images/bg.png);*/
}

.logo{
    text-align: center;
}
.logo .top_title{
    font-family: fantasy;
    font-size: 42pt;
    color: hsl(20, 100%, 20%);
    text-shadow: 4px 3px 0px #FFD6A0, 9px 8px 0px rgba(0,0,0,0.15);
    letter-spacing: normal;
}

td.content{
    border: 4px solid  #8A3600;
    box-shadow: 0px 0px 15px 2px #8A3600,inset 0px 0px 10px 0px #8A3600;
    border-radius: 15px;    
    padding-bottom: 10px; 
    background-color: #FFD6A0;
}

h1{    
    font-size: 32pt;
    text-align: center;    
    color: #580400;
    text-shadow: 1px 1px 2px #8A3600;
    /*text-shadow: 0 0 4px #ccc, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -18px*/
}

img.photo{
    margin:15px;   
    border-radius: 2px;   
    border: 4px solid #BC6832;
    box-shadow: 0px 0px 15px 2px #BC6832;

}


table{
    width: 100%;
}

#footer_contacts{
    color: #580400;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #8A3600;
    border-bottom: 1px solid #8A3600;

}

div#counters{
    text-align: center;
    padding: 10px;
}

/*Gallery*/
.awesome {
    padding: 20px;
    margin:10px;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    
}


table.gallery{
    text-align: center;    
}

table.gallery a{   
    color: #00558A;
    font-size: 12pt;
}
table.gallery a.galleryimage{
    text-decoration: none;
}
.smallimage{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;   
    border: 2px solid #BC6832;
    box-shadow:0px 0px 5px #BC6832;
    -webkit-transform:scale(1); /*Webkit: уменьшитьь изображения на 0.8x от оригинального размера*/
    -moz-transform:scale(1); /*Для Mozilla*/
    -o-transform:scale(1); /*Для Opera*/
    -webkit-transition-duration: 0.5s; /*Webkit: продолжительность анимации*/
    -moz-transition-duration: 0.5s; /*Для Mozilla*/
    -o-transition-duration: 0.5s; /*Для Opera*/
    opacity: 0.95; /*Первоначальный затмение изображения*/
    margin: 0 10px 5px 0; /*отступление между изображениями*/

}

.smallimage:hover{    
    -webkit-transform:scale(1.1); /*Webkit: Масштабирование изображения 1.1x от торигинального размера*/
    -moz-transform:scale(1.1); /*Для Mozilla*/
    -o-transform:scale(1.1); /*Для Opera*/
    box-shadow:0px 0px 30px #3388bd; /*CSS3 тень в 30px вокруг изображения */
    -webkit-box-shadow:0px 0px 30px #3388bd; /*Для Safari*/
    -moz-box-shadow:0px 0px 30px #3388bd; /*Для Mozilla*/
    opacity: 1;
}

a.article_link{
    color:  #00558a;
    text-decoration: none;
}

/*Image*/

a.backlink{
    color: #8A3600;
    text-shadow: 1px 1px 2px #BC6832;
    font-size: 16pt;
    text-decoration: none;
    text-transform: uppercase;
    font-family: fantasy;
}
a.backlink img{
    vertical-align: middle;
}

td.mainimage{    
    text-align: center;
}
td.mainimage img{
    border: 7px solid #BC6832;
    border-radius: 10px;    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;   
    box-shadow:0px 0px 5px #BC6832;
}
td.othergalleryimages{
    width:125px;
    vertical-align: top;    
}

td.othergalleryimages div{
    margin-top: 5px;
}

div.othergalleryimages{
    width:100%;
    padding-top: 5px;  
    text-align: right;
    border: 2px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
    background-color: rgba(200,200,200,0.5);
}

td.othergalleryimages img{
    width: 100px;
}

table.info{
    margin-top: 30px;
    width: auto;
    padding: 5px;
    border: 2px;
    border-color: white;
}
table.info td{
    padding-top: 10px;
}

table.info td.title{
    font-weight: 700;
    padding-right: 20px;    
}

div.otherimages{
    text-align: center;    
}
div.otherimages a{
    text-decoration: none;
}
div.otherimages img{
    max-width: 160px;   
    max-height: 100px;    
}

div.comments a{    
    color: #0B75AF;
    text-decoration: none;
}



/*Video*/
div.video{
    text-align: center;
}

div.video iframe{
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px #3388bd;
}

/*Socializer*/
.soc_buttons {
    position: absolute;
    right: 0;
    top: 152px;
    width: 70px;
}

.soc_buttons a {
    display: block;
    position: relative;
    opacity: 0.5;
}

.soc_buttons a:hover{
    opacity: 1;
}